{% extends 'lab/base.html' %}

{% block title %}
Chat Bot
{% endblock %}

{% block content %}
<h1>ChatBot</h1>
<p>Бот (мн. ч. боты), а также интернет-бот и тому подобное (англ. bot, сокращение от чеш. robot) —
    виртуальный робот или искусственный интеллект, который функционирует на основе специальной программы,
    выполняющий автоматически и/или по заданному расписанию какие-либо действия через интерфейсы, предназначенные для людей.

При обсуждении компьютерных программ слово употребляется в основном в применении к Интернету.

Обычно боты предназначаются для выполнения работы, однообразной и повторяемой, с максимально возможной скоростью (очевидно, намного выше возможностей человека). На веб-сервере может быть размещён файл robots.txt, содержащий ограничения, которые следует исполнять ботам[1].

Боты находят также применение в условиях, когда требуется лучшая реакция по сравнению с возможностями человека (например, игровые боты, боты для интернет-аукционов и тому подобное) или, реже, для имитации действий человека (например, боты для чатов и тому подобное).

Чат-бот может выдать достаточно адекватный ответ на вопрос, сформулированный на правильном русском языке (или любом другом, работа с которым поддерживается). Такие боты часто применяются для сообщения прогноза погоды, результатов спортивных соревнований, курсов валют, биржевых котировок и тому подобное. Они находят применение, например, в системе SmarterChild в AOL Instant Messenger и MSN messenger.

В IRC боты применяются для «удержания» канала, комментирования определённых фраз, отправленных пользователями (по сопоставлению с образцом). Это достаточно полезное средство для помощи новичкам или борьбы с ненормативной лексикой.</p>
{% endblock %}