{% extends 'lab/base.html' %}

{% block title %}
Games
{% endblock %}

{% block content %}
<h1>Pygame</h1>
<p>Pygame (рус. Пайгейм) — набор модулей (библиотек) языка программирования Python, предназначенный для написания компьютерных игр[3] и мультимедиа-приложений. Pygame базируется на мультимедийной библиотеке SDL.

Изначально Pygame был написан Питом Шиннерсом (Pete Shinners). Начиная примерно с 2004/2005 года поддерживается и развивается сообществом свободного программного обеспечения.

Одна из библиотек предоставляющих доступ к API SDL (существуют и другие[4]). В то же время дает возможность написания более высокоуровневого кода.

Pygame-приложения могут работать под Android на телефонах и планшетах с использованием подмножества Pygame для Android (pgs4a)[5][6]. На этой платформе поддерживаются звук, вибрация, клавиатура, акселерометр.</p>
{% endblock %}