{% extends 'lab/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Платформа - Keninson's Lab</h1>

    <p>Привет! Мы рады представить вам платформу, на которой представлены проекты студентов Российского университета
        дружбы народов.
        Здесь вы можете найти различные проекты в области {project_topic}, разработанные нашими талантливыми студентами.
        Это {platform_type},
        где студенты делятся своими идеями и достижениями. Университеты-партнеры также вкладывают усилия
        в развитие этой платформы, чтобы поддерживать творчество и инновации в нашем образовательном сообществе.
        Приглашаем вас присоединиться к нашей сообщности и открыть для себя увлекательные проекты от студентов
        Российского университета дружбы народов и других ведущих университетов, таких как {university}.
        Наслаждайтесь и вдохновляйтесь креативностью и умением наших студентов! </p>
{% endblock %}